#yield, #header {
  max-width: 20em;
}
#yield {
  position: relative;
  z-index: 10;
}
#artist_image img {
  width: 480px;
  height: 347px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@media screen and (max-width: 585px) {
  #artist_image {
    height: 347px;
    position: relative;
  }
  #artist_image img {
    position: absolute;
    bottom: -1em;
    right: -1em;
  }
  body {
    font-size: 18px;
  }
}
