.audioplayer {
  margin-bottom: 1em;
}
.audioplayer ol {
  max-width: 12em;
}
.vimeo_player {
  max-width: 320px;
}
.vimeo_player .ar {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}
.vimeo_player iframe, .vimeo_player img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sc_song {
  cursor: pointer;
  padding: .5em;
}
.audioplayer ol {
  margin-left: 1em;
  padding-left: 0;
}

