@media screen and (max-width: 585px) {
  #artist_image {
    height: 347px;
    position: relative;
  }
  #artist_image img {
    position: absolute;
    bottom: -1em;
    right: -1em;
  }
  body {
    font-size: 18px;
  }
  .sc_song {
    padding: .7em .1em;
  }
}
