html {
  color: #222;
  height: 100%;
  background-color: white;
}
body { border: .5em solid white;
  background-color: #ec8b3a;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  color: white;
}

img { display: block; }

