<!DOCTYPE html>
<html>
<head>
  <title>{%if page.title%}{{page.title}} | {%endif%}{{site.artist_name}}</title>
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <meta name="description" content="{{ site.artist_bio }}" />
</head>
<body>
{% include header.html %}
<div id="yield">
  {{ content }}
</div>
{% include nav.html %}
<div id="artist_image">
  <img src="/images/artist.png" alt="{{ site.artist_name }}" />
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="/assets/app.js"></script>
</body>
</html>
